<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Groupy Event</title>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/main.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.11.2/lodash.min.js"></script>
  <script src="../js/profile.js" type="text/javascript" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>

  <!-- Nav bar -->
  <nav class="purple" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo thin">Groupy</a>
      <ul class="right hide-on-med-and-down">
      <li><a href="/users/user">Profile</a></li>
        <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
          <$ } $>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- Page header -->
  <div>
    <h1 class="center thin black-text"><$= event.title $></h1>
  </div>

 <!-- Event Pic -->
    <div class="row" style="background-color:">
      <div class="col s12 m3 offset-m1">
        <div class="card">
          <div class="card-image">
            <img src=<$= event.imageUrl $>>
            <span class="card-title"><$= event.venue $></span>
          </div>
          <!-- <div class="card-content">
            <p>Jonath  Hyundai</p>
            </div> -->
          </div>
        </div>

        <!-- Event info card -->
        <div class="row">
          <div class="col s12 m6">
            <div class="card purple lighten-2">
              <div class="card-content white-text">

                <span class="card-title"><$= event.date $></span>
                <p><$= event.venue $></p>
                <p> <$= event.venueAddress $></p>
                <p><$= event.city $>, <$= event.state $></p>
                </div>
                <div class="card-action white-text">
                  <a href="<$= event.venueUrl $>"><$= event.venue$>'s website</a>
                  <a href='https://www.google.com/maps/dir//<$= event.venueAddress $> <$= event.city $> <$= event.state $>'>Map</a>
                </div>
              </div>
            </div>
          </div>
    </div>

    <!-- Comment form -->
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3">
          <textarea id="textarea1" class="materialize-textarea black-text"></textarea>
          <label for="textarea1">Comments</label>
        </div>
      </div>
    </form>
  </div>

<div class="center"><a id="comment" class="waves-effect waves-light btn purple">Comment</a></div>

<!--- Chat box -->
  <div class="col s12" id="chatbox">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card-panel purple lighten-2 text-black">
        <span class="white-text">Hey, I'm thinking about going to the show! Any bromancers want to meet up and march in a Black Parade down to the venue!?  Hit me up!
        </span>
      </div>
    </div>
  </div>
  </div>



    <br><br>

    <div class="section">
    </div>
  </div>

  <!--  Scripts-->
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>


  </body>
</html>
