<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Groupy</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="../js/main.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>

  <!-- Nav bar -->
  <nav class="cyan accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Groupy</a>
      <ul class="right hide-on-med-and-down">
        <!-- <$ if (user) { $>
          <li><a href="/logout"><i class="material-icons left">trending_flat</i>Logout</a></li>
          <$ } else { $>
          <li><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></li>
          <$ } $> -->
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!-- Profile Pic -->
    <div class="row" style="background-color:grey">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img src="../assets/Fake_J_Dai.jpg">
            <span class="card-title">Jonathan Dai</span>
          </div>
          <!-- <div class="card-content">
            <p>Jonath  Hyundai</p>
            </div> -->
          </div>
        </div>

        <!-- Profile info card -->
        <div class="row">
          <div class="col s12 m8">
            <div class="card cyan darken-1">
              <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                  <a href="#">This is a link</a>
                  <a href="#">This is a link</a>
                </div>
              </div>
            </div>
          </div>
    </div>

          <!-- Image cards -->
          <div class="row">
            <!-- Card 1 -->
            <div class="col s12 m3">
              <div class="card">
                <div class="card-image">
                  <img src="../assets/Fake_J_Dai.jpg">

                </div>
                <div class="card-content">
                  <p>Temp Text (Upcoming Dates?)</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                </div>
              </div>

              <!-- Card 2 -->
              <div class="col s12 m3">
                <div class="card">
                  <div class="card-image">
                    <img src="../assets/Fake_J_Dai.jpg">
                  </div>
                  <div class="card-content">
                    <p>Temp Text (Upcoming Dates?)</p>
                    </div>
                    <div class="card-action">
                      <a href="#">This is a link</a>
                    </div>
                  </div>
                </div>

                <!-- Card 3 -->
                <div class="col s12 m3">
                  <div class="card">
                    <div class="card-image">
                      <img src="../assets/Fake_J_Dai.jpg">
                    </div>
                    <div class="card-content">
                      <p>Temp Text (Upcoming Dates?)</p>
                      </div>
                      <div class="card-action">
                        <a href="#">This is a link</a>
                      </div>
                    </div>
                  </div>

                  <!-- Card 4 -->
                  <div class="col s12 m3">
                    <div class="card">
                      <div class="card-image">
                        <img src="../assets/Fake_J_Dai.jpg">
                      </div>
                      <div class="card-content">
                        <p>Temp Text (Upcoming Dates?)</p>
                        </div>
                        <div class="card-action">
                          <a href="#">This is a link</a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <br><br>

                <div class="section">

                </div>


<!--   <footer class="page-footer">
     <div class="footer-copyright">
        <div class="container">
          © 2014 Copyright Groupy Group
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer> -->


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>
</html>
